<?xml version="1.0"?>
<launch>
    <rosparam command="load" file="$(find pkg)/entregaveis/param/param.yaml"/>
    <node pkg="pkg" type="earth.py" name="solar_system_earth" />
    <node pkg="pkg" type="jupiter.py" name="solar_system_jupiter" />
    <node pkg="pkg" type="mars.py" name="solar_system_mars" />

</launch>